<!-- <div *ngFor="let item of[1,3,5,7]">
    <p>Number is: {{ item }}</p>
</div> -->

<div *ngFor=" let p of products">
    <div class="product-container" [ngStyle]="{backgroundColor: p.available === 'Available'? '':'#FAD8D8'}">
        <div class="image-container"><img [src]="p.image" alt="" style="max-height: 50px; max-width: 50px;"></div>
        <div>
            <div class="product-name"><h6>{{ p.name }}</h6></div>
            <div class="detail-container">
                <div class="details">₹{{ p.price }}</div>
                <div class="details">Color: {{ p.color }}</div>
                <div class="details" [ngStyle]="{color: p.available === 'Available'? 'Green':'Red' }">{{ p.available }}</div>
            </div>
        </div>
        <div class="options">
            <button class="btn btn-success">Show Details</button>
            <button class="btn btn-primary" *ngIf="p.available === 'Available'; else notifyme">Buy Now</button>
            <ng-template #notifyme>
                <button class="btn btn-danger">Notify Me!!</button>
            </ng-template>
        </div>
    </div>
</div>